.navBarInner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style: none;
  display: inline;
  padding: 10px;
  cursor: pointer;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}

/*
* Main Data Style under the NavBAr
*/

.MainData {
  background-color: #1c92d2;
}
.MainDataInner {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.textField {
  padding: 10px;
}

/***
*/
.MainPage {
  margin-top: 10px;
}
#demo-simple-select {
  width: 250px;
}
.MainPageData {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.grid {
  margin-top: 10px;
}
.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
.detailInner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detailleft{
  width: 40%;
}
.detailright{
  width: 40%;
}
.link{
  text-decoration: none;
  color: black;
}
.item{
  width: 350px;
  height: 350px;
  margin-top: 10px;
}
.img{
  width: 100%;
  height: 50%;
}
.similarMovies{
  padding: 10px;
}
#combo-box-demo{
  width: 200px;
}
.releaseDate{
  font-size: small;
}
.title{
  font-size: medium;
  font-weight: bold;
}
/* .children{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.childOne{
  width: 50%;
} */ 